/*
 * ─── GLOBAL ─────────────────────────────────────────────────────────────────────
 */
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root {
    --main-black: #1F202B;
    --main-gray: #8A8CA5;
    --light-gray: #E7E7E8;
    --main-white: #ffffff;
    --main-blue: #4CF7E5;
    --main-testo: #09252a;
}

html {
    font-family: Avenir, sans-serif;
    background-color: var(--main-testo);
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color: var(--main-black);
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--main-blue);
}

p {
    font-size: 17px;
    color: var(--main-gray);
}

a {
    font-size: 17px;
    color: var(--main-gray);
    text-decoration: none;
}

.wrapper-content {
    width: 70%;
    margin: 0 auto;
}

.white {
    color: white;
}

.r {
    text-align: right;
    margin-right: 300px;
    margin-bottom: 530px;
}

.l {
    padding-left: 200px;
}

/*
 * ─── NAV ────────────────────────────────────────────────────────────────────────
 */
nav {
    position: fixed;
    top: 50px;
    left: 5%;
    line-height: 50px;
    width: 100%;
}

nav a {
    font-weight: 500;
    color: var(--main-gray);
}

.nav-right {
    position: fixed;
    right: 5%;
    top: 50px;
}

.nav-right a > img {
    vertical-align: text-bottom;
}

.nav-right a:first-child {
    color: var(--main-blue);
    margin-right: 60px;
}

.rec {
    background-color: var(--main-blue);
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 3px;
}

.logo{
    color: var(--main-white);
    font-size: 16px;
}

/*
 * ─── CONTENT ────────────────────────────────────────────────────────────────────
 */
.landing, .section2 {
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left {
    flex: 1;
    margin-top: 130px;
    position: relative;
}

.right {
    flex: 1;
    position: relative;
}

.right p {
    max-width: 500px;
}

.left p {
    max-width: 500px;
}

.skills {
    float: right;
}

.skill-box {
    background-color: var(--main-black);
    margin: 30px 0;
    text-align: center;
    width: 390px;
    height: 120px;
    line-height: 120px;
    /*-webkit-box-shadow: 0 5px 20px 0 rgba(75,79,124,0.1);*/
    /*-moz-box-shadow: 0 5px 20px 0 rgba(75,79,124,0.1);*/
    /*box-shadow: 0 5px 20px 0 rgba(75,79,124,0.1);*/
    -webkit-box-shadow: 3px 11px 44px -13px rgba(76, 247, 229, 0.35);
    -moz-box-shadow: 3px 11px 44px -13px rgba(76, 247, 229, 0.35);
    box-shadow: 3px 11px 44px -13px rgba(76, 247, 229, 0.35);
}

.rec-large {
    background-color: var(--main-blue);
    height: 150px;
    width: 620px;
    position: absolute;
    top: -35px;
    left: -80px;
    z-index: -1;
}

.line {
    height: 5px;
    width: 120px;
    background-color: var(--main-black);
    position: absolute;
    top: 30px;
    left: -140px;
}

.line2 {
    height: 5px;
    width: 120px;
    background-color: var(--main-white);
    position: absolute;
    top: 30px;
    left: 60px;
}



.section2 {
    margin-top: 700px;
}

.rec-large-2 {
    background-color: var(--main-blue);
    /*opacity: 0.95;*/
    height: 260px;
    width: 1000px;
    position: absolute;
    top: -142px;
    left: -472px;
    z-index: -1;
}

.arrow {
    position: absolute;
    right: 5px;
    top: -140px;
}

/*
 * ─── BACKGROUND LINES ───────────────────────────────────────────────────────────
 */
.lines {
    display: block;
    width: 1px;
    height: 100vh;
    background-color: var(--main-blue);
    opacity: 0.15;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: -2;
}

.right-line-1 {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
}

.right-line-2 {
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
}

.right-line-3 {
    transform: translateX(900px);
    -webkit-transform: translateX(900px);
}

.left-line-1 {
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
}

.left-line-2 {
    transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
}

.left-line-3 {
    transform: translateX(-900px);
    -webkit-transform: translateX(-900px);
}

/*
 * ─── FOOTER ─────────────────────────────────────────────────────────────────────
 */
footer {
    display: inline-flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 50px;
    left: 5%;

}

.social {
    position: fixed;
    right: 5%;
}

.social > a {
    margin-left: 60px;
}

footer > p, .social > a {
    font-weight: 500;
}

/*
 * ─── MOTION ─────────────────────────────────────────────────────────────────────
 */
.delay-1 {
    animation-delay: 0.1s;
}

.delay-2 {
    animation-delay: 0.3s;
}

.delay-3 {
    animation-delay: 0.5s;
}

.delay-4{
    animation-delay: 0.7s;
}

/*
 * ─── MEDIAQUERY ─────────────────────────────────────────────────────────────────────
 */

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .logo{
        font-size: 14px;
    }
    nav a {
        font-size: 14px;
        font-weight: 400;
    }
    /*.nav-right {*/
        /*display: grid;*/
        /*justify-content: space-between;*/
    /*}*/

    .skill-box{
        width: 340px;
    }
    footer{
        display: inline-block;
    }



    /*.social {*/
        /*display: grid;*/
        /*grid-template-columns: auto auto auto auto;*/
    /*}*/


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .logo{
        font-size: 14px;
    }

    .nav-right {
        right: -5%;
        display: grid;
        justify-content: flex-end;
    }
    nav a {
        font-size: 14px;
    }
    .skill-box{
        margin: 30px 0;
        text-align: center;
        width: 300px;
        height: 100px;
        line-height: 100px;
        /*width: 300px;*/
    }



    footer{
        display: inline-block;
    }




}